.centreText {
    text-align: center;
  }

  h1 {
    font-size: 150px;
  }
  
  .dropZone {
    border-style: dashed;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    padding-bottom: 0px;
    height: 51vh;
    background-color: #6589ff;
    border-radius: 20px;
    color: white;
  }
  
  .image1 {
    max-width: 100%;
    height: 50vh;
  }
  
  .dank {
    display:flex;
    justify-content:center;
    color: white;
    font-size: 20px;
  }
  
  .dropZoneText {
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }